<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="bgError">
	
	<div data-aos="zoom-in-down">
	<div class="errorDiv">
	<h2 class="errorTxt"><a href="../index.html">ERROR 404</a></h2>
	</div>
	</div>
	
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
</body>
</html>